.box_select_configuration {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item_select_configuration {
  border: 1px solid #c3d0fd;
  font-size: 14px;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 400;
  background: #e0e0e0;
  cursor: pointer;
}

.active_configuration {
  background-color: rgb(20, 53, 195) !important;
  color: white !important;
  font-weight: 500 !important;
}

.down_configuration {
  padding: 5px 10px;
  background: white;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.save_configuration {
  padding: 5px 10px;
  background: #1435c3;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.item_accessory {
  margin: 10px 0px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: white;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
}

.title_accessory {
  width: 100px;
  /* text-align: center; */
}

.box_info_basic_accessory {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-between;
}

.icon_configuration {
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
}

.icon_configuration img {
  object-fit: contain;
}

.title_accessory span {
  font-size: 15px;
  font-weight: 500;
  color: rgb(67, 70, 87);
}

.title_description span {
  font-size: 13px;
  font-weight: 300;
  color: rgb(132, 135, 136);
}

.btn_choose_accessory span {
  padding: 5px 10px;
  background-color: #edf3fd !important;
  border: 1px solid #c3d0fd;
  color: #0a3d62;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

.item_accessory:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter_accessory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.item_filter {
  width: 100%;

  text-align: center;
}

.box_select_accessory {
  padding: 15px;
  background: black;
  border-radius: 8px;
  display: none;
}

.box_sorted {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title_sort {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.item_sort {
  position: relative;
  white-space: nowrap;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  cursor: pointer;
}

.filter_sorted {
  display: flex;
  align-items: center;
  gap: 150px;
  margin: 10px 0px;
}

.box_img_accessory {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  height: 100%;
}

.name_accessory span {
  font-size: 15px;
  font-weight: 500;
  color: rgb(67, 70, 87);
}

.price_sale_accessory span {
  font-size: 14px;
  font-weight: 600;
  color: rgb(20, 53, 195);
}

.price_accessory s {
  font-size: 12px;
  color: rgb(130, 134, 158);
}

.price_main_accessory span {
  font-size: 15px;
  font-weight: 500;
  color: rgb(20, 53, 195);
}

.price_accessory span {
  font-size: 12px;
  font-weight: 500;
  color: rgb(20, 53, 195);
}

.item_products_accessory {
  padding: 0px 10px;
}

.box_products_accessory {
  padding: 10px;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  height: 410px;
  overflow-y: scroll;
}

.box_pagination_accessory {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.box_pagination_accessory .ant-pagination-item {
  padding: 3px 10px;

  min-width: unset !important;
  height: unset !important;
}

.box_pagination_accessory .ant-pagination-item-active {
  background-color: rgb(20, 53, 195) !important;
}

.box_pagination_accessory .ant-pagination-item-active a {
  color: white !important;
}

.box_contact_consulting,
.box_empty_configuration {
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box_empty_configuration .ant-empty-image {
  height: 160px !important;
}

.box_item_collapse a {
  display: block;
  font-size: 14px;
  padding: 5px;
  background-color: white !important;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  margin: 10px 0px;
}

.btn_contact_consulting {
  display: block;
  font-size: 14px;
  padding: 5px;
  background-color: #edf3fd !important;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.box_empty_configuration {
  margin-top: 10px;
}

.title_name_accessory {
  width: 270px;
}

.box_basic_info_accessory {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title_name_accessory span {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.item_up_down {
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_quality_accessory {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(20, 53, 195);
  padding: 0px 5px;
}

.item_up_down span {
  font-size: 22px;
  cursor: pointer;
}

.box_quality_accessory svg,
.box_quality_accessory span {
  color: rgb(20, 53, 195);
}

.box_price_quality_accessory {
  line-height: normal;
}

.click_buy_now {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  background: rgb(20, 53, 195);
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  margin: 15px 0px;
}

.title_price_configuration {
  font-size: 14px;
  color: rgb(67, 70, 87);
  margin-right: 5px;
}

.total_price_configuration {
  font-size: 20px;
  font-weight: 500;
  color: rgb(20, 53, 195);
}

.btn_save_down_configuration {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box_item_collapse.ant-collapse {
  border: 1px solid #c3d0fd !important;
}

.box_item_collapse.ant-collapse .ant-collapse-content {
  border-top: 1px solid #c3d0fd !important;
}

.value_info_accessory {
  margin-left: 5px;
  font-size: 13px;
}

.label_info_accessory {
  color: rgb(132, 135, 136);
  font-size: 13px;
}

.box_empty_accessory {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.border_active {
  border: solid 1px #1435c3 !important;
}

.bg_swoosh {
  border-radius: 0px 8px;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 24px 24px 0px;
  border-color: transparent #1435c3 transparent transparent;
}

.icon_swoosh {
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 0;
  color: white;
  width: 12px;
  height: 12px;
}
.item_sort_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.title_accessory_and_img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  flex: 1;
}
.box_quality_price_accessory {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
/* RESPONSIVE START */
/* mobile */
@media screen and (max-width: 768px) {
  .box_quality_price_accessory {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .title_accessory {
    text-align: left !important;
  }
  .breadcrumb_category span,
  .item_select_configuration,
  .down_configuration,
  .save_configuration {
    font-size: 13px !important;
    font-weight: 400 !important;
  }
  .price_and_choosing_label {
    width: 100% !important;
    height: fit-content;
  }
  .item_select_configuration,
  .down_configuration,
  .save_configuration {
    border-radius: 8px !important;
  }
  .icon_home {
    font-size: 24px !important;
  }
  .total_price_configuration {
    font-size: 16px !important;
  }
  .text_title_common,
  .title_accessory span,
  .price_main_accessory span,
  .title_price_configuration,
  .name_accessory span {
    font-size: 13px !important;
  }
  .btn_choose_accessory span,
  .title_description span,
  .box_quality_accessory span {
    font-size: 12px !important;
  }
  /* .my-2 {
    margin: 4px 0px !important;
  } */
  .title_name_accessory span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }
  .title_name_accessory {
    width: fit-content;
  }
  .item_accessory:hover {
    box-shadow: none;
  }
  .box-content-category .col-8,
  .box-content-category .col-4 {
    width: 100% !important;
    padding: 0px 5px !important;
  }
  .build-configuration-header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    width: 100%;
    padding: 8px;
    z-index: 15;
  }
  .in-box-container-content-category {
    padding-top: 0px !important;
  }
  .box-content-category,
  .box_quality_accessory {
    padding: 0px !important;
  }
  .item_accessory {
    padding: 15px 10px;
    gap: 5px;
  }
  .item_up_down {
    height: 30px !important;
    width: 32px !important;
  }
  .ant-modal-header .ant-modal-title {
    font-size: 16px !important;
  }
  .ant-modal-content {
    padding: 10px !important;
    max-height: calc(100% - 30px) !important;
  }
  .filter_sorted {
    justify-content: space-between;
    gap: 5px;
  }
  .box_img_accessory {
    height: 80px;
    width: 85px;
    border-radius: 3px;
  }
  .box_img_accessory img {
    height: 99%;
    width: 99%;
  }
  .item_products_accessory {
    padding: 0px !important;
  }
  .modal_select_accessory {
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    bottom: 0px !important;
    overflow: auto;
  }
  .ant-modal,
  .ant-modal-wrap {
    padding: 0px !important;
    height: 100% !important;
    min-height: 100vh !important;
  }
  .ant-modal-wrap {
    overflow: unset !important;
  }
  .name_accessory_choosing_button {
    flex: 1 !important;
    padding: 0px 5px !important;
  }
  .box_img_accessory_container {
    padding: 0px !important;
    flex: 0 0 90px !important;
  }
  .box_info_basic_accessory {
    /* gap: 10px !important; */
    flex: 1;
  }
  .box_basic_info_accessory {
    flex: 1;
    justify-content: space-between;
  }
  .filter_sorted {
    display: flex;
    flex-direction: column;
  }
  .box_img_accessory_container {
    flex: 0 0 70px !important;
  }
  .box_img_accessory {
    height: 60px;
    width: 65px;
    border-radius: 3px;
    padding: 0 !important;
  }
  .box_sorted {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    align-items: normal;
  }
  .ant-modal {
    max-height: calc(100vh - 20px) !important;
  }
  .box_select_configuration {
    gap: 0px;
  }
  .btn_save_down_configuration {
    gap: 3px;
  }
  .save_configuration,
  .down_configuration {
    display: flex;
    text-align: center;
  }
  .breadcrumb_category span,
  .title_accessory span {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  .item_select_configuration {
    min-width: 60px;
    margin-right: 3px;
    text-align: center;
  }
  .title_description span,
  .box_quality_accessory span,
  .price_main_accessory span,
  .item_select_configuration,
  .down_configuration,
  .save_configuration {
    font-size: 11px !important;
    padding: 5px;
  }
  .title_name_accessory span,
  .click_buy_now,
  .btn_contact_consulting {
    font-size: 13px !important;
  }
  .icon_configuration {
    height: 65px;
    width: 65px;
    min-height: 65px;
    min-width: 65px;
    border-radius: 2px;
  }
  .icon_configuration img {
    height: 99%;
    width: 99%;
  }
  .title_accessory {
    width: 60px;
    min-width: 60px;
    display: flex;
    align-items: flex-start;
  }
  .item_accessory {
    padding: 6px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  .item_up_down {
    height: 30px !important;
    width: 40px;
  }
  .box_basic_info_accessory {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .box_info_basic_accessory {
    align-items: start;
  }
  .title_accessory_and_img {
    display: flex;
    /* flex-direction: column; */
  }
  /* build configuration header css */
  .header-build-configuration .left-header-detail,
  .header-build-configuration .search-product,
  .header-build-configuration #header-noti {
    display: none !important;
  }
  .header-build-configuration .right-header-detail {
    margin: 0 !important;
  }
  .header-build-configuration .content-header-detail {
    height: 0 !important;
    min-height: unset;
    padding: 0 !important;
  }
  /* build configuration header css end*/
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .breadcrumb_category span,
  .item_select_configuration,
  .down_configuration,
  .save_configuration {
    font-size: 13px;
    font-weight: 400 !important;
  }
  .item_select_configuration,
  .down_configuration,
  .save_configuration {
    border-radius: 8px !important;
  }
  .box_info_basic_accessory,
  .box_basic_info_accessory {
    flex: 1;
  }
  .box_basic_info_accessory {
    justify-content: space-between;
    margin-right: 10px;
  }
  .icon_home {
    font-size: 24px;
  }
  .text_title_common,
  .title_accessory span {
    font-size: 14px !important;
  }
  /* .my-2 {
    margin: 4px 0px !important;
  } */
  .title_name_accessory span {
    flex: 1;
    /* max-width: 200px; */
    overflow: hidden;
  }
  .title_name_accessory {
    width: fit-content;
  }
  .item_accessory:hover {
    box-shadow: none;
  }
  .box-content-category .col-8,
  .box-content-category .col-4 {
    width: 100% !important;
  }
  .build-configuration-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    padding: 8px;
  }
  .in-box-container-content-category {
    padding-top: 0px !important;
  }
  .box-content-category {
    padding: 0px !important;
  }
  .item_accessory {
    padding: 15px 10px;
    gap: 5px;
  }
  .name_accessory_choosing_button {
    flex: 1 !important;
  }
  .price_and_choosing_label {
    width: 100% !important;
  }
  .title_accessory_and_img {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  .title_accessory_and_img {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .box-content-category {
    padding: 0px 50px !important;
  }
  .total_price_configuration {
    font-size: 18px !important;
  }
  .name_accessory_choosing_button {
    flex: 1 !important;
  }
  .price_and_choosing_label {
    width: 100% !important;
  }
  .title_name_accessory {
    width: fit-content;
  }
  .box_info_basic_accessory {
    /* gap: 5px !important; */
    flex: 1;
  }
  .box_quality_accessory span,
  .price_main_accessory span {
    font-size: 14px !important;
  }
  .box_basic_info_accessory {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    height: 100% !important;
  }
  .item_accessory {
    padding: 15px 10px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
  }
  .box-content-category .col-4 {
    width: 30% !important;
  }
  .box-content-category .col-8 {
    width: 70% !important;
  }
}
/* RESPONSIVE END */
