.box-content-cart-statistics-price,
.box-content-products-cart {
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container_cart #main-header-detail {
  /* position: unset; */
}
.box-content-products-cart,
.box_breadcrumbs_cart {
  width: 100%;
}

.box_title_cart {
  padding: 0px 15px;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_cart {
  font-size: 20px;
  font-weight: 600;
}

.text_info_client {
  font-size: 16px;
  font-weight: 600;
}

.text_delete_item_2 {
  cursor: not-allowed;
  color: rgb(189, 189, 189);
  font-weight: 400;
  font-size: 14px;
  user-select: none;
}

.text_delete_item {
  cursor: pointer;

  font-size: 14px;
  color: rgb(15 180 229);
  font-weight: 400;
}

.box_head_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.title_box_cart span {
  font-size: 14px;
  font-weight: 500;
}

.img_product_cart {
  /* object-fit: cover; */
  border-radius: 8px;
}

.box_img_product_cart {
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  background-color: white;
  padding: 3px;
  overflow: hidden;
  width: fit-content;
  flex-shrink: 0;
  max-width: 180px;
}

.box_item_card_cart {
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  margin: 15px 10px;
  background: #f5f5f5;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}

.box_name_img_product_cart {
  display: flex;
  gap: 10px;
}

.name_product_cart {
  font-size: 15px;
  font-weight: 500;
  color: rgb(67, 70, 87);
}

.price_product_cart {
  color: red;
  font-size: 15px;
  margin-right: 6px;
  font-weight: 600;
}

.price_sale_product_cart {
  font-size: 13px;
  font-weight: 300;
}

.box_icon_trash {
  border-radius: 5px;
  border: 1px solid #c3d0fd;
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
}

.box_up_down_quantity {
  width: 120px;

  display: flex;
  gap: 0px;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  border: 1px solid #c3d0fd;
  justify-content: center;
}

.box_down_quantity,
.box_up_quantity {
  font-size: 12px;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box_quantity {
  line-height: 19px;
  font-size: 17px;
  font-weight: 500;
  padding: 6px 0px;
  background: #e9ecef;
  text-align: center;
}

.quantity {
  min-width: 50px;
  display: inline-block;
}

.box_item_card_cart:hover .img_product_cart {
  transform: scale(1.1);
  border-radius: 5px;
}

.img_product_cart {
  transition: all 0.5s ease-out;
}

.text_pay span {
  font-size: 16px;
  font-weight: 500;
}

.text_pay_price span {
  font-size: 15px;
  font-weight: 400;
}

.continue_pay {
  margin-top: 20px;
  padding: 0px 40px;
}

.btn_continue span {
  color: white;
}

.btn_continue {
  cursor: pointer;
  background: rgb(20, 53, 195) !important;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: 600;
}

.content_right_statistics {
  height: fit-content;
  position: sticky;
  top: 0;
}

.box_text_buy_other {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  line-height: normal;
}

.box_text_buy_other a {
  color: rgb(20, 53, 195) !important;
}

.box_info_client {
  margin: 10px 15px;
}

.box_receiving_address .ant-space-item {
  width: 100% !important;
}

.box_receiving_address {
  padding: 15px;
  background: #edf3fd;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
}

.text_ship {
  font-size: 17px;
  font-weight: 500;
  color: rgb(20, 53, 195) !important;
}

.select_address {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.ant-picker-header {
  display: none !important;
}

.box_image_product_checked img {
  object-fit: cover;
  border-radius: 8px;
}

.box_product_checked {
  display: flex;
  gap: 15px;
}

.pro_box_product_checked {
  padding: 10px;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  background: white;
}

.box_name_product_checked {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.info_basic_product_checked {
  display: flex;
  gap: 50px;
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

.box_image_product_checked {
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
}

.price_ship {
  font-size: 15px;
  color: #10a702;
  font-weight: 400;
}

.please_add_ship {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: normal;
  flex-flow: column;
  color: rgb(20, 53, 195) !important;
}

.icon_add_ship {
  font-size: 60px;
}

.current_selected::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #c3d0fd;
  border-right: 1px solid #c3d0fd;
  background: #edf3fd;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  bottom: -18px;
  left: 53px;
}

.box_text_received_store {
  line-height: normal;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  color: rgb(20, 53, 195) !important;
}

.current_selected_2::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #c3d0fd;
  border-right: 1px solid #c3d0fd;
  background: #edf3fd;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  bottom: -14px;
  left: 53px;
}

.text_voucher {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(20, 53, 195) !important;
  gap: 4px;
  cursor: pointer;
}

.container_total {
  margin: 5px 15px;
  border-top: 1px solid #c3d0fd;
}

.box_sum_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_price {
  font-size: 17px;
  font-weight: 500;
}

.points,
.title_points {
  font-size: 16px;
  font-weight: 300;
}

.price {
  color: #f30c28;
  font-weight: 500;
}

.custom_sum_total {
  border-top: 1px solid #c3d0fd;
  padding-top: 10px;
}

.box_info_security_policy {
  margin: 0px 15px;
}

.under_line {
  color: #288ad6;
  font-size: 15px;
  font-weight: 500;
}

.price_card_product_pay {
  color: #f30c28;
  font-size: 14px;
  font-weight: 500;
}

.text_warning {
  margin: 0px 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  color: red;
  line-height: normal;
}

.text_warning svg {
  font-size: 23px;
}

.brand_product {
  font-size: 14px;
  color: rgb(132, 135, 136);
}

.container_content_layout_cart {
  padding: 0px 110px;
}

.space_accumulated_points .ant-space-item {
  width: 100% !important;
}

.address-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Arial", sans-serif;
  max-width: 600px;
  margin: 0.5rem auto;
}

.address-card-info {
  color: #333;
}

.address-card-info h3 {
  margin: 0;
  font-size: 1.25rem;
}

.address-card-info p {
  margin: 0.25rem 0;
  color: #666;
}

.box_image_product_checked {
  min-width: 80px !important;
  min-height: 80px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}
.box_image_product_checked img {
  width: 99% !important;
  height: 99% !important;
  object-fit: contain;
}

.address-card-default-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  background-color: #e0f7fa;
  color: #00695c;
  border-radius: 4px;
  font-size: 0.875rem;
}

.address-card-select-button {
  padding: 0.5rem 1rem;
  border: 2px solid #ff5252;
  background-color: transparent;
  color: #ff5252;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.address-card-select-button:hover {
  background-color: #ff5252;
  color: #fff;
}

.selected_address {
  border: 2px dashed #c3d0fd;
}

.box_loading_cart {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_voucher_code_search {
  gap: 5px;
}
.box_voucher_info {
  position: relative;
  flex: 1;
}
.text_not_point {
  float: inline-end;
  font-size: 14px;
  font-weight: 500;
  color: red;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .box-content-products-cart,
  .box_breadcrumbs_cart {
    min-width: unset;
  }

  .container_content_layout_cart {
    padding: 0px !important;
  }

  .box-content-products-cart {
    padding: 5px;
  }

  .name_product_cart {
    font-size: 18px;

    line-height: 23px;
  }

  .price_product_cart {
    font-size: 17px;
  }

  .box_icon_trash svg {
    font-size: 22px;
  }

  .box_icon_trash {
    width: 40px;
    height: 40px;
  }
}

/* Responsive START */
@media screen and (min-width: 1025px) {
  .icon_home {
    font-size: 24px !important;
  }
  .box_icon_trash {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    padding: 0 !important;
  }
  .box_img_product_cart {
    height: 100px !important;
    width: 100px !important;
  }
  .box_img_product_cart img {
    height: 98% !important;
    width: 98% !important;
    object-fit: contain;
  }
  .name_product_cart {
    font-size: 17px !important;
  }
  .product_info_container {
    gap: 5px;
    margin: 0 !important;
  }
  .box_name_img_product_cart {
    gap: 5px;
    padding: 0 !important;
  }
  .box_up_down_quantity {
    height: fit-content;
    align-self: flex-end;
  }
  .quantity_container {
    width: fit-content;
  }
  .box_name_img_product_cart {
    flex: 1 !important;
  }
  .modal_voucher {
    width: 100% !important;
    max-width: 700px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal_voucher {
    width: 100% !important;
    max-width: 700px !important;
  }
  .container_content_layout_cart {
    padding: 0 20px !important;
  }
  .breadcrumb_category a,
  .breadcrumb_category span {
    font-size: 13px !important;
  }
  .box_breadcrumbs_cart {
    justify-content: space-between !important;
  }
  .box_breadcrumb_category {
    width: fit-content !important;
  }
  .text_cart {
    font-size: 17px !important;
  }
  .name_product_cart {
    font-size: 14px !important;
  }
  .box_img_product_cart {
    height: 80px !important;
    width: 80px !important;
  }
  .box_img_product_cart img {
    height: 98% !important;
    width: 98% !important;
    object-fit: contain;
  }
  .box_text_received_store {
    font-size: 18px !important;
  }
  .icon_home {
    font-size: 24px !important;
  }
  .box_icon_trash {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    padding: 0 !important;
  }
  .product_info_container {
    gap: 5px;
    margin: 0 !important;
  }
  .box_name_img_product_cart {
    gap: 5px;
    padding: 0 !important;
  }
  .box_item_card_cart {
    margin: 10px 0px;
  }
  .space_info_client_form .ant-space-item {
    width: 100% !important;
  }
  .space_info_client_form .ant-space-item .ant-form-item {
    margin-bottom: 0 !important;
  }
  .space_info_client_form,
  .products_receiving {
    display: flex !important;
    flex-direction: column !important;
  }
  .box_up_down_quantity {
    height: fit-content;
    align-self: flex-end;
  }
  .box-container-content-cart .col-12 {
    padding: 0px !important;
  }
  .box_icon_trash svg {
    font-size: 18px;
  }
  .container_content_layout_cart {
    padding: 0px !important;
  }
  .name_product_cart {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .breadcrumb_category a,
  .breadcrumb_category span,
  .quantity,
  .box_promotion_product p {
    font-size: 13px !important;
  }
  .quantity {
    min-width: 30px;
  }
  .box_breadcrumbs_cart {
    justify-content: space-between !important;
  }
  .box_breadcrumb_category {
    width: fit-content !important;
  }
  .text_cart {
    font-size: 15px !important;
  }
  .name_product_cart,
  .box_text_buy_other {
    font-size: 14px !important;
  }
  .box_img_product_cart {
    height: 70px !important;
    width: 70px !important;
  }
  .box_img_product_cart img {
    height: 98% !important;
    width: 98% !important;
    object-fit: contain;
  }
  .box_text_received_store {
    font-size: 15px !important;
  }
  .price_product_cart {
    font-size: 15px !important;
  }
  .box-content-products-cart {
    padding: 8px !important;
  }
  .quantity_container {
    width: fit-content;
  }
  .box_name_img_product_cart {
    flex: 1 !important;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  .modal_voucher {
    top: 0 !important;
    margin: 0 !important;
  }
  .icon_home {
    font-size: 24px !important;
  }
  .box-img-voucher {
    height: 60px !important;
    width: 60px !important;
  }
  .box_voucher_info {
    padding: 5px !important;
    flex: 1 !important;
  }
  .btn_choose {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .item-voucher {
    padding: 5px !important;
  }
  .box_icon_trash {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    padding: 0 !important;
  }
  .product_info_container {
    gap: 5px;
    margin: 0 !important;
  }
  .box_name_img_product_cart {
    gap: 5px;
    padding: 0 !important;
  }
  .box_item_card_cart {
    margin: 10px 0px;
  }
  .space_info_client_form .ant-space-item {
    width: 100% !important;
  }
  .space_info_client_form .ant-space-item .ant-form-item,
  .pro_box_product_checked .ant-form-item {
    margin-bottom: 0 !important;
  }
  .box_promotion_product {
    margin-top: 0px;
    padding: 5px;
  }
  .space_info_client_form,
  .products_receiving {
    display: flex !important;
    flex-direction: column !important;
  }
  .info_basic_product_checked {
    font-size: 11px !important;
    justify-content: space-between;
    gap: 0;
  }
  .box_up_down_quantity {
    height: fit-content;
    align-self: flex-end;
  }
  .box-container-content-cart .col-12 {
    padding: 0px !important;
  }
  .box_icon_trash svg {
    font-size: 18px;
  }
  .container_content_layout_cart {
    padding: 0px !important;
  }
  .name_product_cart,
  .box_name_product_checked {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .breadcrumb_category a,
  .breadcrumb_category span,
  .quantity,
  .box_promotion_product p,
  .box_name_product_checked {
    font-size: 13px !important;
  }
  .name_product_cart,
  .box_text_buy_other,
  .ant-select-selection-item,
  .text_voucher {
    font-size: 14px !important;
  }
  .box_text_received_store,
  .price_product_cart,
  .text_cart,
  .title_price,
  .points,
  .title_points,
  .text_ship,
  .please_add_ship {
    font-size: 15px !important;
  }
  .btn_order span {
    font-size: 16px !important;
  }
  .quantity {
    min-width: 30px;
  }
  .box_breadcrumbs_cart {
    justify-content: space-between !important;
  }
  .box_breadcrumb_category {
    width: fit-content !important;
  }
  .box_img_product_cart {
    height: 70px !important;
    width: 70px !important;
  }
  .box_img_product_cart img {
    height: 98% !important;
    width: 98% !important;
    object-fit: contain;
  }
  .box-content-products-cart {
    padding: 8px !important;
  }
  .quantity_container {
    width: fit-content;
  }
  .box_name_img_product_cart {
    flex: 1 !important;
  }

  .box_image_product_checked {
    max-width: 80px !important;
    max-height: 80px !important;
  }
  .space_select_address {
    display: flex !important;
    flex-direction: column !important;
  }
  .box_info_client {
    margin: 0 !important;
  }
}
