.container_basic_infor {
  border-right: 1px solid #afa2a2;
}

.name_company {
  font-weight: 500;
  font-size: 21px !important;

  padding: 7px 25px !important;
}

.info_basic {
  font-size: 16px;
  font-weight: 500;
  color: #302727;
  line-height: 18px;
}

.infor_company_footer {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #9d5b5b;
  line-height: 19px;
  margin-bottom: 2px;
}

.title_footer {
  font-size: 18px !important;
  font-weight: 500;
  padding: 4px 22px !important;
  width: 100%;
}

.icon_social_networt {
  width: 50px;
  height: 50px;
}

.number_contact {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.box_icon_social_network {
  display: inline;
  margin: 2px 5px;
  cursor: pointer;
}

.infor_company_footer {
  background-image: linear-gradient(to right, #416775, #416775 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 1px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.infor_company_footer:before {
  content: "";
  background: #416775;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.infor_company_footer:hover {
  background-position: 0;
}

.infor_company_footer:hover::before {
  width: 100%;
}

.img_policy {
  width: 45px;
}

.title_policy {
  font-size: 16px;
  font-weight: 500;
  color: #531dab;
  margin-left: 3px;
}
.footer_main_container {
  width: 100%;
}
.container_footer {
  padding-left: 5px;
  padding-right: 5px;
}
.container_policy {
  padding: 5px 20px;
  border: 1px solid #c3d0fd;
  border-radius: 8px;
  margin-bottom: 7px;
}

.title_hotkey {
  font-size: 22px;
  font-weight: 700;
}

/*Responsive START */
/* desktop */
@media only screen and (min-width: 1025px) {
  .name_company {
    font-size: 17px !important;
    padding: 7px 10px !important;
  }
  .info_basic,
  .infor_company_footer {
    font-size: 14px;
  }
  .title_footer {
    font-size: 16px !important;
    padding: 4px 10px !important;
  }
  .number_contact {
    font-size: 15px;
  }
  .box_policy {
    display: flex !important;
    flex-direction: row;
    width: fit-content !important;
  }
  .container_policy .mx-0 {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .title_policy {
    font-size: 14px;
  }
  .box_img_policy {
    padding: 0 5px !important;
    height: 40px;
    width: 40px;
  }
  .box_img_policy img {
    height: 35px;
    width: 35px;
  }
}
/* tablet */
@media screen and (max-width: 1024px) {
  .box_policy .row {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    justify-content: center;
    height: fit-content !important;
    align-items: center;
  }
  .title_policy {
    font-size: 12px;
    flex: 1;
  }
}
@media only screen and (min-width: 845px) and (max-width: 1024px) {
  .name_company {
    font-size: 15px !important;
    padding: 7px 10px !important;
  }
  .info_basic {
    font-size: 12px !important;
  }
  .title_footer {
    font-size: 13px !important;
    padding: 4px 4px !important;
  }
  .infor_company_footer {
    font-size: 12px;
  }
  .number_contact {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 845px) {
  .name_company {
    font-size: 13px !important;
    padding: 7px 10px !important;
  }
  .title_footer {
    font-size: 12px !important;
    padding: 4px 2px !important;
  }
  .infor_company_footer,
  .number_contact,
  .info_basic {
    font-size: 12px !important;
  }
}
/* mobile */
@media only screen and (max-width: 610px) {
  .container_policy,
  .introduction_footer {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .title_policy {
    font-size: 14px !important;
  }
  .box_image_footer,
  .keywords_hot,
  .container_policy {
    display: none;
  }
  .py-4 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .info_basic,
  .infor_company_footer,
  .number_contact,
  .name_company,
  .title_footer {
    font-size: 12px !important;
  }
  .icon_social_networt {
    width: 30px !important;
    height: 30px !important;
  }
}
@media only screen and (width: 768px) {
  .title_footer,
  .name_company {
    font-size: 12px !important;
  }
}
/*Responsive END */
