.relative {
  position: relative;
  top: 50px;
}

.info-product a {
  text-decoration: none;
  color: rgb(128, 128, 137);
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}

.link-info-product .anticon svg,
.cart-product .anticon svg {
  font-size: 22px;
}

.h-modal {
  background-color: rgba(0, 0, 0, 0.45);
}

.text-select-code {
  float: right;
}

.suggest-product {
  text-decoration: none;
  color: rgb(128, 128, 137);
  font-weight: 400;
  font-size: 11px;
  margin-right: 11px;
}

.name-category-content-product,
.cart-product {
  text-decoration: none;
  color: rgb(128, 128, 137);
  font-weight: 400;
  font-size: 14px;
}

.contact {
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.contact:hover {
  color: #666;
}

.cart-product:hover,
.link-info-product:hover {
  background-color: rgba(39, 39, 42, 0.12);
  border-radius: 8px;
}

.link-info-product {
  width: 100%;
  height: 100%;
}

.category-sale {
  max-height: 250px;
  overflow-y: scroll;
}

.container-content-detail-product,
.box-description-much {
  width: 100%;
  margin: 0 !important;
}

.box-content-search {
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 20;
}

.name-item-research {
  font-size: 15px;
  color: rgb(39, 39, 42);
  font-weight: 600;
}

.name-item-research .anticon svg {
  color: rgb(128, 128, 137) !important;
}

.name-item-research:hover {
  background-color: rgba(39, 39, 42, 0.12);
}

.category-hot-search,
.name-category-first-research {
  font-size: 16px;
  font-weight: 400;
}

.button-show-hide {
  cursor: pointer;
  font-size: 12px;
  list-style: none;
  color: rgb(13, 92, 182);
}

.button-show-hide img {
  width: 11px;
  height: 11px;
  color: rgb(13, 92, 182);
}

.img-research {
  width: 17px;
  height: 17px;
}

.container_image_main {
  width: 100%;
  flex: 1;
  height: 226px !important;
}

.container_image_main img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.name-category-hot,
.item-hot {
  font-size: 11px;
}

.name-category-hot {
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.item-hot {
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.img-hot-item {
  border-radius: 8px;
  cursor: pointer;
}

.name-category-hot span,
.name-item {
  text-overflow: ellipsis;
  font-size: 13px;
}

.img-category-hot {
  /* max-height: 90px;
  max-width: 80px; */
  border-radius: 8px;
  cursor: pointer;
}

.box-item-hot:hover,
.box-category-hot:hover {
  background: rgba(39, 39, 42, 0.12);
  border-radius: 8px;
}

.price-product-bundled {
  font-size: 10px;
  color: rgb(120 140 255);
}

.name-category-content-product {
  color: rgb(128, 128, 137);
  font-size: 11px;
}

.name-category-content-product:hover {
  border-bottom: 1px solid rgb(128, 128, 137);
}

.icon-category-content {
  margin: 0px 5px;
}

.buy-product-detail {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.name-store span {
  margin-bottom: 2px;
  font-size: 18px;
  color: rgb(36, 36, 36);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  line-height: normal;
}

.rating-star-store span {
  font-size: 15px;
  color: rgb(128, 128, 137);
}

.infor-store {
  border-bottom: 1px solid rgb(235, 235, 240);
  padding: 0px 3px;
}

.name-product-infor-store {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.input-count {
  border: 1px solid #c3d0fd;
  width: 33px;
  color: rgb(36, 36, 36);
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px 3px;
}

.value-count {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.btn-un-down {
  border-radius: 5px;
  height: 30px;
  width: 28px;
  border: 1px solid #c3d0fd;
}

.btn-disable {
  pointer-events: none !important;
  border: 1px solid
    var(--button-neutral-outlined-border-disabled, rgba(196, 196, 207, 0.3)) !important;
}

.ant-breadcrumb-link a {
  margin: 0 !important;
  padding: 0 !important;
}

.ques-anwer,
.text-bundled-products,
.related-product,
.text-technical-specifications,
.text-supporting-software,
.choose-color,
.value-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.related-product {
  white-space: nowrap;
}

.ques-anwer,
.text-bundled-products {
  font-size: 21px;
  margin-bottom: 5px;
}

.btn-buy-product {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: rgb(255, 66, 78);
  border-radius: 4px;
  border: 1px solid #c3d0fd;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  height: 35px;
  font-size: 16px;
  line-height: 150%;
  margin: 4px 0px;
  font-weight: 500;
}

.btn-buy-product2 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  white-space: nowrap;
  width: 100%;
  height: 35px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 150%;
  color: rgb(10, 104, 255);
  border: 1px solid rgb(10, 104, 255);
  border-radius: 4px;
  margin: 6px 0px;
}

.box-card-selling-product,
.img-thumbnail-product {
  border-radius: 8px;
}

.name_voucher p {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
  display: inline;
}

.active_voucher .box-img-voucher {
  background-color: rgb(248, 248, 252) !important;
}

.box-img-voucher {
  background-color: rgb(232, 235, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.box-review-product,
.box-bundled-products,
.box-compare,
.box-related-product,
.box-img-voucher,
.description-much,
.product-detail,
.img-product-detail {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon_voucher {
  width: 50px;
  height: 40px;
  color: #e54848;
}

.img-product-detail {
  top: 10px;
  padding: 15px;
  height: fit-content;
}

.box-img-product-detail {
  height: fit-content;
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}

.ant-image-mask:hover {
  opacity: 0 !important;
}

.text_choose_voucher {
  font-size: 14px;
  color: rgb(25, 144, 255);
  font-weight: 500;
}

.name_type_voucher {
  color: #090d14;
  font-size: 15px;
  font-weight: 500;
}

.box_type_voucher {
  padding: 10px;
  background-color: #f3f4f6;
  border-radius: 8px;
  margin: 10px 0px;
}

/* .img-thumbnail-product,
.avatar-product {
  aspect-ratio: 1/1;
} */

.box-choose-input-color input {
  cursor: pointer;
}

.box-choose-input-color {
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #c3d0fd;
  margin: 2px 2px;
}

.input-color {
  margin: 6px;
}

.item-description {
  margin: 2px 0px;
}

.ant-image {
  display: inline !important;
}

.btn-show-hide {
  cursor: pointer;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgb(132, 135, 136);
}

.see-detail {
  color: #0a68ff;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
}

.box_choose svg {
  font-size: 25px;
  color: #ff3c3c;
}

.buy-product-detail {
  height: fit-content;
  position: sticky;
  top: 107px;
}

.list-category-technology {
  min-height: 20px;
}

.text-infor-product {
  font-size: 13px;
  color: #333333;
  padding: 0px 0px;
  line-height: 18px;
}

.box-infor-product-bundled {
  padding-top: 30px;
}

.img-item-product-related {
  overflow: hidden;
  cursor: pointer;
}

.box-item-product-related a {
  text-decoration: none;
}

.img_banner_small,
.box-img-suppporting-software {
  border-radius: 8px;
}

.img_banner_small,
.container_img_banner {
  overflow: hidden;
  cursor: pointer;
}

.item_featured_products_category:hover .image_featured_products_category,
.box_banner_secondary:hover .image_banner_secondary,
.box_item_card:hover .image_item_card,
.item_product_sale:hover .img_product_sale,
.item_category:hover .image_category,
.img_banner_small:hover .banner_small,
/* .container_img_banner:hover .img_banner_genaral, */
.box-img-bundled-product:hover .img-bundled-product,
.box-img-suppporting-software:hover img,
.custom-swiper:hover img,
.box-img-product-detail:hover .avatar-product,
.box-image-thumbnail-product:hover .img-thumbnail-product,
.box-item-product-related:hover .img-related {
  transition: all 0.6s ease;
  transform: scale(1.1);
  border-radius: 8px;
  overflow: hidden;
}

.image_featured_products_category,
.image_banner_secondary,
.image_item_card,
.img_product_sale,
.image_category,
.item-img-bundled {
  transition: all 0.6s;
}

.box-img-bundled-product:hover .item-img-bundled {
  transform: scale(1.1) rotate(2deg);
}

.box-infor-product-bundled {
  padding-bottom: 5px;
}

.img_banner_genaral,
.img-bundled-product,
.avatar-product,
.img-thumbnail-product,
.img-related,
.img-custom-swiper,
.img-game-supporting-software {
  transition: all 1s;
  transform: scale(1);
}

.box-img-bundled-product {
  overflow: hidden;
}

.name-product-related {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 17px;
}

.box-name-product-related {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  min-height: 30px;
}

.contact-older {
  cursor: pointer;
  border-radius: 0.25rem;
  border: unset;
  padding: 0px 5px;
}

.contact-older span {
  color: white !important;
  font-size: 15px !important;
  font-weight: 500;
}

.box-infor-product-related span {
  color: rgb(130, 134, 158);
  font-size: 15px;
}

.infor-product-related {
  color: rgb(130, 134, 158);
  font-size: 11px;
  height: 2rem;
}

.color-price-related {
  color: rgb(20, 53, 195) !important;
  font-weight: 800;
  font-size: 16px;
}

.price_3d,
.price-old {
  color: rgb(130, 134, 158);
  text-decoration: line-through;
  font-size: 13px !important;
}

.box-sale {
  font-size: 12px !important;
}

.box-color-price-related {
  line-height: 15px;
}

.sale-product-bundled {
  color: rgb(20, 53, 195);
  display: inline;
  font-weight: 600;
}

.percent-sale {
  color: rgb(20, 53, 195);
  display: inline;
  margin-left: 5px;
  font-weight: 600;
}

.table :where(thead, tfoot) {
  white-space: unset;
}

.box-image-thumbnail-product {
  border-radius: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.supporting-software {
  cursor: pointer;
}

.item-img-bundled img,
.img-bundled-product,
.box-img-bundled-product,
.img-related,
.row-item-product-related {
  border-radius: 8px;
}

.table-bordered {
  border: 1px solid #c3d0fd !important;
}

.box-img-product-detail,
.box-card-selling-product,
.box-image-thumbnail-product,
.row-item-product-related {
  border: 1px solid #c3d0fd;
}

.box-img-bundled-product {
  border: 1px solid #a087ff;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) 0px 0px,
    rgba(240, 46, 170, 0.1) 0px 0px, rgba(240, 46, 170, 0.05) 0px 0px;
}

.custom-description {
  font-size: 14px;
}

/* .name-category-content-product, */
.list-category-technology,
.list-suggest-product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-suggest-product {
  line-height: 14px;
}

.suggest-product:hover {
  background-color: #fdf2f2;
  border-radius: 8px;
  color: rgb(56, 56, 56);
}

.img-bundled {
  position: absolute;
  top: 190px;
}

.item-img-bundled {
  border: 1px solid #a087ff;
  border-radius: 8px;
}

.box-popup-supporting-software {
  max-height: 65vh;
}

.header-supporting-software {
  background-color: #f2f0ff;
  border-radius: 8px;
}

.box-btn-close {
  position: fixed;
  right: 60px;
  z-index: 10;
}

.img-game-supporting-software {
  border-radius: 8px;
}

.icon-close-popup {
  font-size: 25px;
}

.name-user-reviews {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2;
  text-transform: capitalize;
}

.avatar-user-reviews {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c3d0fd;
}

.time-user-reviews {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  gap: 3px;
}

.box-admin-reply {
  margin-left: 2rem !important;
}

.ant-input-outlined {
  border: 1px solid #c3d0fd;
}

.box-content-comment {
  background: #f9fafb;
  border: 1px solid #c3d0fd;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-text-area {
  border-radius: 25px;
}

.btn-reply-comment {
  text-align: right;
  padding: 0px 20px;
}

.btn-reply {
  margin-bottom: 10px;
  background-color: transparent;
  color: #89416c;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
}

.btn-reply:hover {
  color: #a087bb;
}

.content {
  font-size: 15px;
}

.select-code {
  color: #05a !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.box-number-product {
  min-width: 35px;
  min-height: 30px;
}

.ant-modal-title {
  font-size: 25px !important;
}

.box-voucher {
  max-height: 400px;
  overflow-y: scroll;
}

.text-voucher {
  font-size: 12px;
  color: #627483;
  font-weight: 500;
}

.disabled_item-voucher {
  opacity: 0.5;
  pointer-events: none;
}

.disabled_item-voucher .box-img-voucher {
  background-color: #ccc;
  /* Change to a lighter color to indicate disabled */
}

.disabled_item-voucher .icon_voucher {
  color: #999;
  /* Change icon color to indicate disabled */
}

.disabled_item-voucher .name_voucher,
.disabled_item-voucher .text-voucher {
  color: #999;
  /* Change text color to indicate disabled */
}

.disabled_item-voucher .btn_choose .box_choose {
  display: none;
  /* Hide the choose button for disabled state */
}

.active_voucher {
  background: rgb(243, 245, 252) !important;
  border: 1px solid rgb(20, 53, 195) !important;
}

.item-voucher {
  border: 1px solid white;
  background: white;
  padding: 10px !important;
  border-radius: 8px;
}

.item-voucher:hover {
  background: #ececec;
  border-radius: 8px;
}

.ant-btn {
  border: 1px solid #f7c2c2;
}

.ant-btn span {
  color: rgb(26, 25, 25);
}

.color-product-selling {
  color: #e2e8f0;
}

.ant-btn:hover {
  background-color: #88a6d6;
}

.info-selling-product {
  background: #8794f9;
  border-radius: 8px;
}

.box-card-selling-product {
  transition-duration: 0.3s;
}

.swiper_slide_3d:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.box-card-selling-product:hover {
  transform: translateY(10px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.box_price_card_swiper s {
  font-size: 13px;
  line-height: 14px;
}

.box_price_card_swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_price_card_swiper span {
  line-height: 21px;
}

.box-detail-selling-product {
  font-size: 11px;
  height: 2rem;
}

.icon-plus {
  font-size: 40px;
}

.css-text-general {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link-show-more {
  font-size: 14px;
}

.box-technical-specifications {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #c3d0fd;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  height: 140px;
  width: 100%;
  border-radius: 8px;
  background: #edf3fd;
}

.img_product_sale {
  border-radius: 8px;
}

.swiper_slide_3d,
.item_product_sale,
.box_product_related {
  border: 1px solid #c3d0fd;
  border-radius: 8px;
}

.box_product_related img {
  border-radius: 8px;
}

.box-technical-specifications .text_product_related_news {
  width: auto;
  height: 100%;
  margin: 0;
  line-height: 21px;
  transform: translateY(100%);
  animation: scroll-up 8s linear infinite;
  font-size: 15px;
  padding: 5px;
  color: #4180c5;
}

.box_breadcrumb_category_container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.button-buy-related {
  flex-wrap: nowrap;
  gap: 3px;
}

.input-search-product {
  border: 1px solid #c3d0fd;
  border-radius: 10px;
}

.box_info_promotion span {
  display: block;
}

.box_info_promotion {
  position: relative;
  padding: 15px 10px;
  border: 1px solid #c3d0fd;
  border-radius: 10px;
}

.box_info_promotion span {
  font-size: 15px;
  font-weight: 500;
  color: #004a95;
}

.text_title_box {
  display: flex;
  width: fit-content;
  position: absolute;
  top: -26px;
  left: 10px;
  padding: 3px 10px;
  background: #f93232;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  align-items: center;
}

.box_text_commit {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: normal;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0px;
}

.box_text_commit svg {
  font-size: 22px;
  color: #2149ef;
}

.box_description-much_hide {
  max-height: 500px;
  overflow: hidden;
}

.text_summary {
  font-size: 14px;
  color: rgb(132, 135, 136);
}

.price_detail_product {
  color: rgb(20, 53, 195);
}

.sum-img-thumbnail {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.text_brand {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(20, 53, 195);
}

.title_parameter {
  width: 200px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.value_parameter {
  font-size: 15px;
}

.box_parameter {
  padding: 5px 20px;
}

.bg_parameter {
  background-color: #f5f5f5;
}

.box_content_parameter {
  padding: 10px;
  max-height: 570px;
  overflow-y: scroll;
}

.container_not_found_product {
  height: 60vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.title_text_not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.box_icon_not_found {
  font-size: 123px;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: rgb(132, 135, 136);
  background: rgb(212, 215, 216);
  border-radius: 50%;
  padding: 15px;
}

.box_title_not_found {
  font-size: 15px;
  color: #848788;
}

.back_home_not_found {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #c3d0fd;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 51, 102);
  cursor: pointer;
  background: rgb(235, 246, 255);
}

.bg_last_image {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg_last_image span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}

.container_gallery_image {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.box_image_last {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  border: 1px solid white;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.box_thumbnail {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin: 5px 0px;
  position: relative;
  overflow: auto;
}

.active_image {
  border: 1px solid rgb(20, 53, 195) !important;
}

.box_image_thumbnail {
  border: 1px solid white;
}

.box_image_thumbnail {
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid white;
  overflow: hidden;
}

.box_image_last img {
  width: 50px !important;
  height: 50px !important;
}

.box_image_thumbnail img {
  object-fit: contain;
}

.container_lightbox_gallery .yarl__container {
  background: rgba(0, 0, 0, 0.45) !important;
}

.container_lightbox_gallery .yarl__thumbnails_thumbnail {
  background: rgba(0, 0, 0, 0.45) !important;
}

.container_lightbox_gallery .yarl__thumbnails_container {
  background: rgba(0, 0, 0, 0.45) !important;
}

.container_lightbox_gallery .yarl__thumbnails_bottom .yarl__thumbnails_vignette,
.container_lightbox_gallery .yarl__thumbnails_top .yarl__thumbnails_vignette {
  background: unset !important;
}

.container_lightbox_gallery .yarl__flex_center.yarl__thumbnails_thumbnail {
  padding: 5px;
}

.box_info_detail_product {
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box_name_product_detail span {
  font-size: 19px;
  line-height: normal;
  font-weight: 500;
}

.title_brand_product_detail {
  font-size: 13px;
  color: rgb(130, 134, 158);
}

.value_brand_product_detail {
  color: rgb(16, 42, 156);
  font-weight: 600;
  font-size: 14px;
}

.box_price_main span {
  color: rgb(20, 53, 195);
  font-size: 17px;
  font-weight: 600;
}

.box_price_main {
  line-height: normal;
}

.box_price_sale s {
  font-size: 13px;
  color: rgb(130, 134, 158);
  line-height: normal;
  margin-right: 5px;
}

.box_price_sale {
  line-height: normal;
}

.box_price_sale span {
  color: rgb(20, 53, 195);
  font-size: 13px;
}

.box_image_main {
  width: 100%;
  height: 100%;
}

.box_image_main img {
  cursor: pointer;
  border-radius: 8px;
}

.box_gift_coupon {
  margin: 10px 0px;
}

.box_price_product_detail {
  border-bottom: 2px dashed #e4e5f0;
  padding-bottom: 15px;
}

.title_gift_product {
  font-size: 15px;
  color: rgb(130, 134, 158);
  font-weight: 400;
}

.box_content_gift_product {
  margin-top: 5px;
}

.box_content_gift_product p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  gap: 8px;
  line-height: 18px;
  font-weight: 500;
}

.box_coupon_product {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c3d0fd;
  background: rgb(246, 246, 246);
}

.btn_detail {
  margin-top: 0px !important;
  cursor: pointer;
  padding: 8px 15px !important;
  border-radius: 8px;
  text-align: center;
}

.btn_buy_now span {
  font-size: 14px;
  font-weight: 500;
}

.btn_buy_now {
  background: #fff9c4;
}

.btn_add_cart span {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.btn_add_cart {
  background: #6cb16f;
}

.title_promotion_related {
  font-size: 14px;
  font-weight: bold;
}

.box_content_gift_product li {
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0px;
}

.box_content_gift_product a {
  color: #024dbc;
}

.box_news_promotion_related {
  margin: 30px 0px;
  padding: 15px 0px 0px 0px;
  border-top: 2px dashed #e4e5f0;
}

.box_text_commit span {
  font-size: 15px;
  line-height: normal;
}

.include_vat {
  font-size: 12px;
  color: rgb(130, 134, 158);
  font-weight: unset;
}

.box_text_copy span {
  font-size: 13px;
  font-weight: 500;
}

.box_text_copy {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(16, 42, 156);
  cursor: pointer;
}

.text-sale-value {
  display: inline;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(130, 134, 158);
}

.box_brand_product_detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn_buy_contact span {
  color: rgb(20, 53, 195) !important;
  font-size: 16px;
  font-weight: 500;
}

.btn_submit_comment {
  display: flex;
  align-items: center;
}

.btn_submit_comment span {
  color: white !important;
}

/* RESPONSIVE START */
/* desktop */
@media screen and (min-width: 1025px) {
  .breadcrumb_category a,
  .breadcrumb_category span {
    font-size: 13px !important;
  }
}

@media (min-width: 768px) and (max-width: 1164px) {
  .custom-text-header {
    font-size: 9px;
  }

  .contact-older span {
    font-size: 14px !important;
  }
}

@media (min-width: 768px) and (max-width: 1266px) {
  .text-logo-header {
    font-size: 11px;
  }

  .img-star {
    width: 13px;
    height: 13px;
  }
}

/* tablet */
@media only screen and (max-width: 1024px) {
  .img-product-detail {
    position: sticky;
  }

  .box_btn_buy_now_add_cart_detail {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 5px;
    z-index: 15;
  }

  .box_info_detail_product_container {
    width: 100% !important;
    padding: 0 !important;
  }

  .buy-product-detail {
    width: 100% !important;
    margin-top: 5px !important;
  }

  .box-card-selling-product {
    margin: 5px !important;
  }

  .box_container_gallery_image,
  .box_breadcrumb_category,
  .box_container_info_product {
    width: 100% !important;
  }

  .container_image_main,
  .box_thumbnail {
    display: none;
  }

  .mobile_container_image_main,
  .mobile_product_swiper,
  .gallery_image {
    width: 100%;
    height: 100%;
  }

  .gallery_image img {
    width: 100%;
    height: calc(100% - 30px);
    object-fit: contain;
  }

  .item_card_product_basic:hover {
    box-shadow: none;
  }

  .category-hot-search,
  .name-category-first-research {
    font-size: 14px;
    font-weight: 400;
  }

  .name_product_search {
    font-size: 12px;
  }

  .price_product_search {
    font-size: 13px;
    text-align: right;
  }

  .box_cart_product_search {
    padding: 5px !important;
  }

  .box_img_card_product_search_container,
  .box_name_price_product_search_container {
    width: 100% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .img_product_sale {
    height: 100% !important;
    width: 100% !important;
  }

  .img_compare {
    height: 70px !important;
    width: 100% !important;
  }
  .img_compare img,
  .img_product_sale img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
  .box_container_info_product {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .time-user-reviews,
  .btn-reply,
  .sale-product-bundled {
    font-size: 18px;
  }

  .anticon-send {
    margin-left: 5px;
  }

  .avatar-user-reviews {
    height: 45px;
    width: 45px;
  }

  .ant-modal {
    max-width: calc(100vw - -92px) !important;
  }

  .product-comparison-th h5 {
    font-size: 13px !important;
  }

  table td,
  .box_description-much_hide {
    font-size: 14px !important;
  }

  img {
    font-size: 12px !important;
  }

  .text_genaral_two_line,
  .box_text_commit span {
    font-size: 13px !important;
  }

  .box-input-user-review textarea {
    font-size: 16px;
  }

  .box-detail-selling-product {
    font-size: 17px;
    line-height: 17px;
  }

  .box-color-price-related {
    line-height: 22px;
  }

  .color-price-related {
    font-size: 19px;
  }

  .price-product-bundled,
  .box_name_product_detail span {
    font-size: 16px;
  }

  .img-bundled {
    top: 154px;
  }

  .icon-close-popup {
    font-size: 33px;
  }

  .box-color-price-related,
  .responsive-margin-btn {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .custom-margin-responsive {
    margin: 3px 0px 0px 0px !important;
  }

  .custom-tag-table {
    font-size: 21px;
    padding: 8px;
  }

  .ant-table-thead > tr > th {
    font-size: 22px;
  }

  .box-popup-supporting-software {
    max-height: 110vh;
  }

  .btn-un-down {
    width: 50px;
    height: 50px;
  }

  .text-demand {
    font-size: 23px;
  }

  .rating-star-store span {
    font-size: 18px;
  }

  .name-product-infor-store {
    font-size: 19px;
  }

  .img-star {
    width: 23px;
    height: 23px;
  }

  .name-store span,
  .sum-img-thumbnail {
    font-size: 22px;
  }

  .custom-description {
    font-size: 20px;
  }

  .img-product-detail,
  .infor-product-detail {
    margin-bottom: 10px;
  }

  .infor-product-detail {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .input-count {
    width: 50px;
    height: 50px;
  }

  .value-count {
    font-size: 14px;
  }

  .btn-buy-product {
    padding: 24px;
    font-size: 26px;
  }

  .text-content-compare {
    font-size: 19px;
  }

  .name-product-related {
    font-size: 19px !important;
  }

  .infor-product-related {
    font-size: 16px;
    line-height: 17px;
  }

  .box-infor-product-related span {
    font-size: 18px;
  }

  .box-color-price-related {
    margin-top: 6px;
  }

  .btn-show-hide span,
  .contact-older span {
    font-size: 18px !important;
  }

  .btn-show-hide {
    margin-top: 5px;
  }

  .contact {
    font-size: 15px;
  }

  .custom-text-header {
    font-size: 20px;
  }

  .name-category-content-product {
    margin-right: 10px;
    font-size: 19px;
  }

  .button-show-hide {
    font-size: 17px;
  }

  .suggest-product {
    font-size: 15px;
  }

  .info-product {
    margin: 10px 0px !important;
  }

  .link-info-product .anticon svg,
  .cart-product .anticon svg {
    font-size: 30px;
  }

  .link-info-product,
  .cart-product {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px 3px;
  }

  .custom-mx-2 {
    margin: 0px 7px;
  }

  .name-item {
    font-size: 20px;
    height: 100%;
    display: block;
  }

  .name-item-research {
    font-size: 20px;
  }

  .category-hot-search,
  .name-category-first-research {
    font-size: 14px;
    font-weight: 400;
  }

  .custom-responsive {
    padding: 0px 20px !important;
  }

  .item-hot {
    padding: 0px 10px;
  }

  .ant-input-affix-wrapper-lg {
    font-size: 25px;
  }

  .ant-input-group-addon {
    font-size: 21px;
  }

  .text-logo-header {
    font-size: 22px;
  }

  .input-count {
    font-size: 24px;
  }

  .quantity-product {
    font-size: 29px;
  }

  .input-count,
  .btn-un-down {
    width: 55px;
    height: 55px;
  }

  .breadcrumb_category span a {
    display: inline-block;
    white-space: nowrap;
  }

  .breadcrumb_category span {
    width: fit-content;
  }

  .breadcrumb_category span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-modal {
    width: 100% !important;
  }

  .btn-primary #text {
    display: none;
  }

  .box-input-user-review {
    flex: 1 !important;
  }
}

/* RESPONSIVE END */
